/* .frm-label {
  background-color: white;
}

.btn-add-item {
  margin-top: 50px;
}

.btn-logout {
  width: 150px;
}

.button-ok, .button-cancel {
  width: 140px;
}

.frm-body {
  background-color: lightyellow;
}

.error {
    color:red;
} */
/* 
.modal-title {
  color: white;
  font-weight: 700;
  text-shadow: 5px 4px 8px #2A3522;
}

.modal-header {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,77,121,0.9612219887955182) 28%, rgba(0,212,255,1) 100%);
 
}

.modal-footer {
  background: rgb(15, 84, 9);
  background: linear-gradient(
    0deg,
    rgba(15, 84, 9, 1) 23%,
    rgba(253, 240, 45, 1) 49%
  ); */

