* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

th {
  color: orange;
  font-weight: 100;
}

.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 95vw;
  background: #161a2b;
  text-align: center;
  margin: 100px auto;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 15px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.9);
}

.todo-row {
  justify-content: space-between;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 800px;
  padding: 30px;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgba(255, 118, 20, 1) 0%,
    rgb(202, 57, 0) 100%
  );
}

.frm-label {
  background-color: white;
}

.btn-add-item {
  margin-top: 50px;
  transition: ;
}

.spacer {
  margin-left: 5px;
}

.size-btn {
  width: auto;
}

.delete-btn {
  width: auto;
}

.btn-logout {
  width: 150px;
}

.button-ok,
.button-cancel {
  width: 140px;
}

.frm-body {
  background-color: lightyellow;
}

.error {
  color: red;
}

.todo-title {
  display: flex;
}

.todo-item {
  text-decoration: none;
}

.todo-title-header {
  font-size: 20px;
  color:lavender;
  margin:auto;
}

.todo-item-done {
  text-decoration: line-through;
  background-color: rgb(20, 18, 18);
  font-style: italic;
  color: green;
}

.todo-item-overdue {
  background-color: red;
  color: yellow;
}

.btn-add-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  margin-right: 10px;
}

.no-todos {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 20px;
  font-weight: 100;
  color: yellow;
}

.no-todos:hover {
  color: #ffffff;
  background: #333333;
  text-shadow: 0 -1px 4px #fff, 0 -2px 10px #ff0, 0 -10px 20px #ff8000,
    0 -18px 40px #f00;
  font-size: 50px;
  cursor:pointer;
}

.table-body-container {
  border: none;
  border-radius: 15px;
}

.todoContainer {
  margin-top: 0px;
  padding: 60px;
  width: 100%;
  max-width: 900px;
  min-height: 200px;
  display: flex;
  /* Each item that is added is nicely placed with the next line */
  flex-direction: column;
  justify-content: center;
  background: rgb(34, 29, 189);
  background: linear-gradient(
    338deg,
    rgba(34, 29, 189, 0.4066001400560224) 5%,
    rgba(43, 49, 187, 1) 20%,
    rgba(51, 69, 184, 1) 35%
  );
}
