* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

.button-login {
  border: none;
  outline: none;
  width: 100%;
  padding: 15px 0;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  background: hsl(138, 73%, 34%);
  cursor: pointer;
}

button {
  border: none;
  outline: none;
  width: 62px;
  padding: 15px 0;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  background: hsl(138, 73%, 34%);
  cursor: pointer;
}

button:hover {
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  background: hsl(108, 87%, 12%);
  cursor: pointer;
  transition: all 400ms ease-out;
}

button:active {
  background: hsl(69, 93%, 38%);
}

.login {
  width: 100%;
  min-height: 100vh;
  padding: 0 20px;
  background: #e9e9e9;
  display: flex;
}

.login .loginContainer {
  padding: 60px;
  margin: auto;
  width: 100%;
  max-width: 520px;
  min-height: 400px;
  display: flex;
  /* Each item that is added is nicely placed with the next line */
  flex-direction: column;
  justify-content: center;
  background: rgb(34, 29, 189);
  background: linear-gradient(
    338deg,
    rgba(34, 29, 189, 0.4066001400560224) 5%,
    rgba(43, 49, 187, 1) 20%,
    rgba(51, 69, 184, 1) 35%
  );
  /* background: radial-gradient(
    ellipse at left bottom,
    rgba(22, 24, 47, 1) 0%,
    rgba(38, 20, 72, 0.9) 59%,
    rgba(17, 27, 75, 0.9) 100%
  ); */
  box-shadow: 0 20px 50px 10px rgba(0, 0, 0, 0.8);
}

.login .loginContainer label {
  color: white;
  margin: 14px 0;
  display: block;
  font-size: 22px;
  line-height: 1;
}

.login .loginContainer input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 19px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  letter-spacing: 1px;
}

.login .loginContainer .btnContainer {
  width: 100%;
  padding: 24px 0;
}

.login .loginContainer .btnContainer p {
  margin: 14px 0 0 0;
  text-align: right;
  color: #fff;
}

.login .loginContainer .btnContainer p span {
  color: yellow;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.login .loginContainer .btnContainer p span:hover {
  color: rgb(255, 0, 0);
}

.login .loginContainer .errorMsg {
  color: rgb(94, 12, 12);
  font-size: 16px;
}

.hero {
  width: 100%;
  min-height: 100vh;
  background: radial-gradient(
    ellipse at left bottom,
    rgba(22, 24, 47, 1) 0%,
    rgba(38, 20, 72, 0.9) 59%,
    rgba(17, 27, 75, 0.9) 100%
  );
}

.hero nav {
  background: #603bbb;
  width: 100%;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero nav h2 {
  color: #fff;
}

.hero nav button {
  width: 86px;
  padding: 8px 0;
  background: #3a2b58;
}

video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.hero-container > p {
  margin-top: 8px;
  margin-bottom: 1px;
  color: #fff;
  font-size: 32px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.hero-container {
  /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
  height: 100vh;
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.gridcontainer {
  padding: 10px;
  margin-top: 5px;
  background-color: rgba(234, 134, 40, 0.2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.refresher {
  margin-top: 1px;
  margin-bottom: 2px;
  font-size: 1rem;
  color: lightblue;
  display: flex;
  align-content: center;
  justify-content: center;
}

.interval-control {
  margin-top: 50px;
}

.moon-pic {
  opacity: 0.8;
  border-radius: 10px;
  width: 100px;
  height: 140px;
}

.gridcontainer:hover {
  background-color: rgba(24, 134, 140, 0.2);
  cursor: pointer;
}
